.register-h2{
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .registerNames{
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .register-bookstore {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .typeRadio {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
   */