.searchBar {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-radius: 2px;
    background-color: aliceblue;
    height:20px;
    width: 10%;

}
 .button{
    width:120px;
    height:6px;
    /* background-color:#222020 ; */
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color: #000;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: #000 transparent transparent transparent;
    right:6px;
    top:18px;
}

@media all and (max-width: 2000px) 
{
.searchBar {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-radius: 2px;
    background-color: aliceblue;
    height:20px;
    width: 10%;

}
.cart-wishlist-div{
    display: flex;
    align-items: center;
    position: relative;
    right: 1 gfds5px;
    right:10px;
  
  }
  
    .book-logo-search-div{
        display: flex;
        position: relative;
        height: -10px;
        margin-top: -8px;
        margin-bottom: -6fpx;
        left: 12%;
        /* left: 150px; */
        align-items: center;
        }
 .book-title{
    height: -10px;
    margin-top: -50px;
    margin-left: -20px;

 }
   .cart-wishlist-div{
  display: flex;
  align-items: center;
  position: relative;
  right: 1 gfds5px;
  right:0px;

}
.cart-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.wishlist-div{
display: flex;
flex-direction: column;
justify-content: center;  
margin-left: 50px;
align-items: center;
}
   
}

@media  screen and (max-width:1700px) and (min-width: 1024px)
{
    .cart-wishlist-div{
        display: flex;
        align-items: center;
        position: relative;
        right: 1 gfds5px;
        right:0px;
        font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

      }
    }

    @media all and (max-width:2168px)  
{

    .cart-wishlist-div{
        display: flex;
        align-items: center;
        position: relative;
        right: 1 gfds5px;
        right:0px;
      
      }
    
     }


     @media  screen and (max-width:1700px) and (min-width: 1024px)
{
 .cart-div {
margin-left: 150;
 }
.wishlist-div{

}
.AccountCircleIcon{

  margin-left:-150px;
   margin-Top:13px;
}
}

@media all and (max-width:2168px)  
{

  .cart-div {
 margin-left: 150;
  }
 .wishlist-div{
 
 }
 .AccountCircleIcon{
 
   margin-left:-150px;
    margin-Top:13px;
 }
}