.searchBar {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-radius: 2px;
    background-color: aliceblue;
    height:20px;
    width: 10%;

}
 .button{
    width:120px;
    height:6px;
    /* background-color:#222020 ; */
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color: #000;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: #000 transparent transparent transparent;
    right:6px;
    top:18px;
}

@media all and (max-width: 2000px) 
{
.searchBar {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-radius: 2px;
    background-color: aliceblue;
    height:20px;
    width: 10%;

}
}

